# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# ✅ ignore all local media (since using external server)
public/images/
public/videos/

# optional (if accidentally added anywhere else)
*.mp4
*.mov
*.avi
*.jpg
*.jpeg
*.png
*.webp
*.gif
*.svg